body {
    background-color:rgb(50, 50, 50);
    color:lightgray;
}

h1 {
    position:relative;
    width:100%;
    text-align: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color:rgb(76, 138, 255);
}