body {
    background-color:rgb(50, 50, 50);
    color:lightgray;
    font-family:'Times New Roman', Times, serif;
}

a {
    color:rgb(76, 138, 255);
}

.center {
    position:relative;
    width:100%;
    text-align: center;
}